*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

nav{
    background-color: red;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

#logo{
    float: left;
}

ul{
    float: left;
    margin: 0 30%;
}

li{
    display: inline-block;
}

.button{
    background-color: whitesmoke;
    padding: 5px 10px;
    float: left;
    border-radius: 40%;
}

.jumbo{
    background-color: green;
}

/* sections */

section{
    background-color: yellow;
}

/* footer */

footer{
    background-color: black;
}

/* debug */

nav{
    height: 100px;
}

.jumbo{
    height: 100px;
}

section{
    height: 100px;
}

footer{
    height: 300px;
}