*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* header */

/* nav */

nav{
    background-color: red;
    padding-top: 40px;
}

#logo{
    float: left;
    margin-left: 10%;
}

ul{
    float: left;
    margin: 0 15%;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
}

.button{
    background-color: whitesmoke;
    padding: 5px 10px;
    float: right;
    margin-right: 10%;
    border-radius: 10px;
}

/* jumbotron */

.jumbo{
    position: relative;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testo{
    position: absolute;
    color: white;
    text-align: center;
    max-width: 50%;
    left: 25%;
    padding-top: 100px;
}

h2{
    line-height: 4;
    font-size: 40px;
}

p{
    line-height: 1.6;
}

/* bottoni jumbotron */

.button2{
    position: absolute;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
    left: 35%;
    bottom: 150px;
}

.button3{
    position: absolute;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    right: 35%;
    bottom: 150px;
}

/* sections */

section{
    background-color: yellow;
}

/* footer */

footer{
    background-color: black;
}

/* debug */

nav{
    height: 100px;
}

section{
    height: 100px;
}

.jumbo{
    height: 500px;
}

footer{
    height: 300px;
}